.edu-box{
    width: 90%;
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.edu-box h2{
    color: rgb(18, 17, 17);
    font-size: 1.2rem;
}
.edu-box h6{
    color: #8495F4;
    font-size: 1rem;
}
.edu-box p{
}
.duration{
    display: inline-block;
    color: white;
    background-color: rgb(32, 175, 73);
    padding: 2px 10px;
    border-radius: 3px;;
}
