.nav-link{
    cursor: pointer;
    padding: 2px 6px;
}
.nav-link:hover{
    transform: scale(1.1);
    color : #2563EB;
}
.mobile-nav {
    left: -150%;
    transition: 0.4s;
  }
  .mobile-nav.show{
    left: 0 ;
  }
  .mobile-nav #nav-links{
    display: flex;
    flex-direction: column;
  }
.mobile-nav #nav-links a{
    width: fit-content;
}