.img-cont{
    position: relative;
}
.ov{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    cursor: pointer;
}
.ov:hover{
    z-index: 1;
    opacity: 1;
}
.ov p{
    font-weight: 500;
    font-size: larger;
    color: #fff;
    text-transform: capitalize;
}

.image-container{
    height: 500px;
    box-shadow: 10px 5px 5px red;
}

.sImg{
    display: block;
    height: 500px;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    object-position: top left;    
    transition: object-position 3s ease-out;
    border: 1px solid coral;
    border-radius: 15px;
}
.sImg:hover{
    bottom: 0;
    object-position: bottom left;
}